<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<!-- This specifies how the characters and symbols are encoded in the webpage. UTF-8 is the current standard (for HTML5) -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--This allows bootstrap to work on mobile devices
 -->
	<title>Main Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/MainPage.css">

</head>

<body>

	<div class="container" id="originalHTML">
		
		<h1>I am the original page without added content</h1>

		<div id="submitForm">
			
			<form>
				<h2>New Project Submission Form</h2>


				<div>
					<h3>Project HTML:</h3>
					<textarea name="ProjectDescription" rows="15" placeholder="Input project description HTML (it is recommended that you copy/paste from a text editor)" required></textarea>
				</div>

				<div>
					<h3>Project CSS:</h3>
					<h5>Use the following identifier in front of all CSS selectors:</h5>
					<textarea name="ProjectDescription" rows="15" placeholder="Input project description CSS" required></textarea>
				</div>



				<button type="submit" class="btn btn-primary btn-lg">Test</button>

				<button type="submit" class="btn btn-success btn-lg">Submit</button>

			</form>

		</div>

	</div>







	<div class="container" id="newHTML">


	</div>


	<script type="text/javascript" src="js/MainPage.js"></script>

</body>


</html>