<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!-- This specifies how the characters and symbols are encoded in the webpage. UTF-8 is the current standard (for HTML5) -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--This allows bootstrap to work on mobile devices
 -->

	<title>Info Page James</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/InfoPage_James.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			crossorigin="anonymous"></script>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Project Showcase</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="#">Team Members</a></li>
					<li><a href="#">References</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sign Up</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</div>	
		</div>	
	</nav>
	
<div id="mainBody">
	<div id="topSection">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" id="introBlock" >
					<div  >
						<h1>Hi, my name is <br>James Copeland</h1>
						<h3>&mdash; I am a Junior Software Engineer who loves a challenge and has an appetite for learning!</h3>
					</div>	
					<div id="resumeBlock">
						<a class="btn btn-success btn-lg" href="/resources/resume_v6.pdf" target="_blank" role="button">Download my resume!</a>
					</div>
					
				</div>

				<div class="col-lg-6">
					<img src="/resources/ProfilePicture.jpg" alt="Profile Picture" id="profilePic">
				</div>
			</div>
		</div>	
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row" id="infoBlock">
					<div class="col-lg-6 subBlock">
						
						<div>
							<h2>Education - In Progress</h2>
							<ul>
								<li><strong>Master's Degree in Computer Science</strong></li>

								<ul>
									<li>Institution: Georgia Institute of Technology</li>
									<li>Estimated Graduation Date: May 2020</li>
								</ul>
							</ul>	
						</div>

						<div>
							<h2>Education - Completed</h2>
							<ul>
								<li><strong>Bachelor's Degree in Chemical Engineering</strong></li>

								<ul>
									<li>Institution: University of South Florida</li>
									<li>Date Graduated: May 2018</li>
									<li>Cumulative GPA: 4.00</li>
								</ul>

								<li><strong>AA Degree</strong></li>

								<ul>
									<li>Institution: St. Petersburg College</li>
									<li>Date Graduated: May 2015</li>
									<li>Cumulative GPA: 4.00</li>
								</ul>
							</ul>
						</div>
						
					</div>

					<div class="col-lg-6 subBlock">
						<h2>Contact Information</h2>
						<div>
							<p><strong>Phone Number:</strong> (727)-331-5726</p>
							<p><strong>Email:</strong><a href="mailto:james.copeland.m@gmail.com"> james.copeland.m@gmail.com</a></p>
							<p><strong>LinkedIn:</strong> incomplete</p>			
						</div>

						<div>
							<h2>About Me</h2>

							<p class="p_tab">Ham cow proident, laboris magna brisket strip steak in ground round jerky pancetta burgdoggen. Cupim pork chop cow, bacon corned beef nulla shankle landjaeger. Ham hock t-bone frankfurter bacon. Pariatur nostrud turkey esse cupim hamburger ut ipsum prosciutto beef shank. Do tail aliquip pig enim nulla, cupim sunt in. Landjaeger brisket dolore nulla turducken, sirloin flank magna aliqua ipsum cupidatat.</p>

							<p class="p_tab">Drumstick pig pancetta turkey, kevin mollit enim ullamco ut excepteur est. Tri-tip short ribs ground round qui kevin culpa picanha elit shoulder flank cupidatat landjaeger. Pork anim bacon ribeye. Meatball commodo boudin, sed in id velit spare ribs. Pastrami shoulder laboris ut, irure adipisicing in duis venison biltong. Officia voluptate jerky ham hock cow turducken.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-lg btn-block">See my projects</button>

	</div>

	<div class="projectShowcase removed">
		<div class="projects">
			<div class="container">
				<hr>
				<h3 class="projectTitle">Design of Large-scale Plant for Isolation of Lipid Classes from <i>Nannochloropsis oculata</i> Microalgal Biomass for Cosmetic Applications</h3>
				<div class="projectDescription">
					<h4><u>Project Description</u></h4>

					<p>Lipids are used in many different product formulations. Industries such as the cosmeceutical and pharmaceutical industries require supplies of certain lipid classes for the formulation of their final products.</p>

					<p>Our group developed a process that separated 3 different lipid classes, Phospholipids, Glycolipids, and Neutral Lipids, from <i>Nannochloropsis oculata</i>, a marine-water single-cell microalga. The process involved a microwave-based pre-treatment step, a liquid-liquid extraction unit with ethanol and supercritical CO2 solvents, and additional separation stages using flash columns and a silica packed column.</p>
				</div>
				<div class="row">
					<div class="col-md-5 col-sm-12">
						<ul>
							<li><strong>Goals</strong></li>
								<ul>
									<li>Develop a process to extract lipids from microalgae</li>
									<li>Model the process with a flowsheet simulator</li>
									<li>Perform an economic analysis to determine profitability</li>
								</ul>
							<li><strong>Team Members</strong></li>
								<ul>
									<li>Jeffery Lowe</li>
									<li>Bobby Khanh Vo</li>
									<li>Joy Zoggia</li>
								</ul>
							<li><strong>Tools</strong></li>
								<ul>
									<li>Aspen Plus Process Simulator</li>
									<li>WAR GUI Environmental Impact Simulator</li>
								</ul>
							</ul>
					</div>
					<div class="col-md-7 col-sm-12">
						<a href="/resources/Group_3.1_PnP_Final Poster.pdf" target="_blank"><img src="/resources/Group_3.1_PnP_Final Poster.png" alt="Project Picture" class="projectPic"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="projects">
			<div class="container">
				<hr>
				<h3 class="projectTitle">Project Name:</h3>
				<p class="projectDescription">Description: Ham cow proident, laboris magna brisket strip steak in ground round jerky pancetta burgdoggen. Cupim pork chop cow, bacon corned beef nulla shankle landjaeger. Ham hock t-bone frankfurter bacon. Pariatur nostrud turkey esse cupim hamburger ut ipsum prosciutto beef shank. Do tail aliquip pig enim nulla, cupim sunt in. Landjaeger brisket dolore nulla turducken, sirloin flank magna aliqua ipsum cupidatat.</p>
				<div class="row">
					<div class="col-md-5 col-sm-12">
						<ul>
							<li><strong>Information</strong>
								<ul>
									<li>Item 1</li>
									<li>Item 2</li>
									<li>Item 3</li>
								</ul>
							</li>
							<li><strong>Information</strong>
								<ul>
									<li>Item 1</li>
									<li>Item 2</li>
									<li>Item 3</li>
								</ul>
							</li>
							<li><strong>Information</strong>
								<ul>
									<li>Item 1</li>
									<li>Item 2</li>
									<li>Item 3</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-md-7 col-sm-12">
						<img src="/resources/Group_3.1_PnP_Final Poster.png" alt="Project Picture" class="projectPic">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<script type="text/javascript" src="/js/InfoPage_James.js"></script>

</body>
</html>