body {
	padding-top: 70px;
	background: #FFFFFF;
	color: rgb(41, 46, 63);
}

i {
	font-size: 150px;
}

h2 {
	margin: 10px auto;
}

h3 {
	margin: 50px auto;
}
.navbar-inverse {
	background: rgb(41, 46, 63);
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

.subBlock {
}

#resumeBlock {
	padding-top: 25px;
}

#introBlock {
	background: #ecf0f1;
	border-radius: 10px;
	height: 370px;
	width: 570px;
	margin-left: 15px;
	text-align: center;
}

#infoBlock {
	border-radius: 25px;
	background: #ecf0f1;
	margin: 25px 0;
	
}

#ProfilePic {
	display: block;
	width:555px;
	height:370px;
	border-radius: 10px;
	margin: auto;
}